# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class
*.so

# Django migrations (ignore all except __init__.py)
**/migrations/
!**/migrations/__init__.py

# Django stuff:
*.log
*.pot
*.pyc


# Environment variables
.env
*.env

# Virtual environment
venv/
.venv/
